@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaOverview Schema="Schema" List="Schema.ElementList">
        <Header>
            <h3>Elements</h3>
        </Header>

        <Form>
            @if (context != null)
            {
                <SidebarRightLayout>
                    <Sidebar>
                        <FormSchemaElement Schema="Schema" Value="context" OnChange="FormChange" />
                    </Sidebar>
                    <Content>
                        <JunctionFormSchemaElementProperty Entity="context" Available="Schema.PropertyList" />
                    </Content>
                </SidebarRightLayout>
            }
            else
            {
                <FormSchemaElement Schema="Schema" OnChange="FormChange" />
            }
        </Form>
    </TemplateSchemaOverview>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    private void FormChange(EntitySchemaElement entity)
    {
        Schema.ElementList = Schema.ElementList?.Where(x => x.ID != entity.ID).Append(entity).OrderBy(x => x.Order).ToList();
    }
}