@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaOverview Schema="Schema" List="Schema.ActionList">
        <Header>
            <h3>Actions</h3>
        </Header>

        <Form>
            @if (context != null)
            {
                <SidebarRightLayout>
                    <Sidebar>
                        <FormSchemaAction Schema="Schema" Value="context" OnChange="FormChange"/>
                    </Sidebar>
                    <Content>
                        <JunctionFormSchemaActionHasDynamicValueCode Entity="context" Available="Schema.DynamicValueList?.Select(x => x.GetValue()).OfType<EntitySchemaDynamicValueCode>().ToList()"/>
                        <JunctionFormSchemaActionHasActionStep Entity="context" Available="Schema.ActionStepList"/>
                    </Content>
                </SidebarRightLayout>
            }
            else
            {
                <FormSchemaAction Schema="Schema" OnChange="FormChange"/>
            }
        </Form>
    </TemplateSchemaOverview>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    private void FormChange(EntitySchemaAction entity)
    {
        Schema.ActionList = Schema.ActionList?.Where(x => x.ID != entity.ID).Append(entity).OrderBy(x => x.Order).ToList();
    }

}