@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaOverview Schema="Schema" List="Schema.InputList">
        <Header>
            <h3>Inputs</h3>
        </Header>
        
        <Form>
            @if (context != null)
            {
                <SidebarRightLayout>
                    <Sidebar>
                        <FormSchemaInput Schema="Schema" Value="context" OnChange="FormChange"/>
                    </Sidebar>
                    <Content>
                        <JunctionFormSchemaInputHasAttribute Entity="context" Available="Schema.AttributeList"/>
                    </Content>
                </SidebarRightLayout>
            }
            else
            {
                <FormSchemaInput Schema="Schema" OnChange="FormChange" />
            }
        </Form>
    </TemplateSchemaOverview>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    private void FormChange(EntitySchemaInput entity)
    {
        Schema.InputList = Schema.InputList?.Where(x => x.ID != entity.ID).Append(entity).OrderBy(x => x.Order).ToList();
    }
}