@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaOverview Schema="Schema" List="Schema.ActionStepList">
        <Header>
            <h3>Action steps</h3>
        </Header>

        <Form>
            <FormSchemaActionStep Schema="Schema" Value="context" OnChange="FormChange"/>
        </Form>
    </TemplateSchemaOverview>
</div>

@code {

    [Parameter, EditorRequired]
    public required EntitySchema Schema { get; set; }

    private void FormChange(EntitySchemaActionStep entity)
    {
        Schema.ActionStepList = Schema.ActionStepList?.Where(x => x.ID != entity.ID).Append(entity).OrderBy(x => x.Order).ToList();
    }

}