.InputGroupPassword {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
}

    .InputGroupPassword ::deep .InputElementPassword {
        margin: 0;
        padding: var(--size-gap-sm, 8px);
        border: 1px solid black;
        border-radius: var(--size-border-radius-md, 4px);
        font-size: var(--size-text-body, 16px);
        font-family: inherit;
        min-height: var(--size-control-md, 46px);
        box-sizing: border-box;
        max-width: 100%;
    }
