@inherits BaseComponentActionInput

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateInputGroup DisplayName="@Context.Title" Description="@Context.Description">
        <InputElementCheckbox Option="true" @bind-Value="Context.BoolValue" @bind-Value:after="Commit"/>
    </TemplateInputGroup>
</div>

@code {

    private bool? GetValue()
    {
        return Context.Value as bool?;
    }

    private async Task SetValue(bool? value)
    {
        Context.Value = value;
        await Commit();
    }
}
