@inherits BaseComponentActionInput

<div @attributes="AdditionalAttributes" class="@CssClass">
    <InputGroupSelect DisplayName="@Context.Title" Description="@Context.Description" OptionList="OptionList" @bind-Value="Context.StringValue" @bind-Value:after="Commit">
        <span>@context</span>
    </InputGroupSelect>
</div>

@code {

    private IEnumerable<string> OptionList => GetAttributeValueList<string>(SchemaActionInputConstants.SchemaIdentifierAttributeDynamicValueTextParameterLabelMultiple);

}
