@inherits ElementComponent

<button @attributes="AdditionalAttributes" class="@CssClass" status="@StatusString" size="@SizeString" disabled="@Disabled">
    <Loader Loading="LoadingCurrent">
        @ChildContent
    </Loader>
</button>

@code {

    [Parameter]
    public StatusEnum? Status { get; set; }
    private string StatusString => (Status ?? StatusEnum.None).ToText();

    [Parameter]
    public ButtonSizeEnum? Size { get; set; }
    private string SizeString => (Size ?? ButtonSizeEnum.Medium).ToText();


    [Parameter]
    public bool? Loading { get; set; }
    private bool LoadingCurrent => Loading ?? false;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override string CssClass => CombineCssClass(base.CssClass, LoadingCurrent ? "loading" : null);

    private bool? Disabled => TryExtractAttribute("disabled", out bool result) ? result : Loading;

}
