@inherits BaseComponentFormJunction<FormModelJunctionSchemaElementHasProperty, EntitySchemaElement, EntitySchemaProperty.Discriminator, EntityJunctionSchemaElementHasProperty>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <h3>Properties:</h3>

    <WebForm Context="Context" OnSubmit="() => Context.Submit(FormSubmit)">
        <TemplateJunctionList OptionList="ListAvailable" @bind-Value="Context.Model.RelationIDList">
            <Header>
                <span>
                    @CollectionLookup[context].GetValue().Name
                </span>
            </Header>
            <Content>
                <TemplatePropertyDisplay Entity="CollectionLookup[context]"/>
            </Content>
        </TemplateJunctionList>

        <Button Loading="Context.IsSubmitting" type="submit">Update</Button>
    </WebForm>
</div>

@code {

    protected override List<EntityJunctionSchemaElementHasProperty> JunctionList => Entity.PropertyList ?? [];

    protected override void UpdateElement()
    {
        base.UpdateElement();
        Context.Model.EntityID = Entity.ID;
        Context.Model.RelationIDList = JunctionList.Select(x => x.RelationID).ToList();
    }

    protected override WebFormContext<FormModelJunctionSchemaElementHasProperty> CreateContext()
    {
        return new(new(Value));
    }

}