.Button {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    justify-content: center;
    min-width: var(--size-control-md, 46px);
    height: var(--size-control-md, 46px);
    position: relative;
    padding: 0 var(--size-gap-sm, 8px);
    background-color: var(--color-background-button, #767676);
    border: var(--size-border-width-lg, 3px) solid color-mix(in srgb, var(--color-background-button, #e9e9e9) 60%, var(--color-mixin-primary, #000000));
    border-radius: var(--size-border-radius-md, 4px);
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) transparent inset;
    font: var(--font-button);
    color: var(--color-text-button, #000000);
    box-sizing: border-box;
    cursor: pointer;
    transition: box-shadow var(--animation-length-short, 150ms) ease-in-out, border var(--animation-length-short, 150ms) ease-in-out;
}

.Button.loading > ::deep .Loader {
    stroke: var(--color-text-button);
}

.Button:focus {
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) var(--color-focus-button, #000000) inset;
    outline: none;
}

.Button:not(:disabled):hover {
    border-bottom-width: calc(var(--size-border-width-lg, 3px) * 2);
}

.Button:not(:disabled):active {
    border-bottom-width: var(--size-border-width-sm, 3px);
}

.Button:disabled:not(.loading) {
    border-color: transparent;
    background-color: var(--color-background-disabled, #4d4d4d);
    color: var(--color-text-disabled, #bcbcbc);
    cursor: not-allowed;
}

.Button[status="none"] {
    --color-background-button: var(--color-background-none);
}

.Button[status="success"] {
    --color-background-button: var(--color-background-success);
}

.Button[status="info"] {
    --color-background-button: var(--color-background-info);
}

.Button[status="highlight"] {
    --color-background-button: var(--color-background-highlight);
}

.Button[status="warning"] {
    --color-background-button: var(--color-background-warning);
}

.Button[status="notice"] {
    --color-background-button: var(--color-background-notice);
}

.Button[status="error"] {
    --color-background-button: var(--color-background-error);
}