.SidebarRightLayout {
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
    row-gap: var(--size-gap-lg);
    column-gap: var(--size-gap-lg);
}

.main, .sidebar {
    display: flex;
    flex-flow: column;
    min-width: var(--size-column);
}

.main {
    flex: 1 1 auto;
}

.sidebar {
    flex: 0 0 auto;
    max-width: var(--size-column);
}
