@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <div class="left">
        @Left
    </div>
    <div class="right">
        @Right
    </div>
</div>

@code {

    [Parameter]
    public required RenderFragment Left { get; set; }

    [Parameter]
    public required RenderFragment Right { get; set; }

}
