@inject TextService TextService
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplatePanelCollapsible HeaderLevel="HeaderLevelCurrent">
        <Header>
            <span> @TextService.Get(TextConstants.FormEntitySchemaHelpSchemaIdentifier) Actions</span>
        </Header>
        <Content>
            @foreach (ViewModelSchemaAction item in List)
            {
                <TemplateAction Action="item" HeaderLevel="HeaderLevelCurrent.GetNext()" OnActionComplete="() => OnActionComplete.InvokeAsync()"/>
            }
        </Content>
    </TemplatePanelCollapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<ViewModelSchemaAction> List { get; set; }

    [Parameter]
    public HTMLHeaderElementEnum? HeaderLevel { get; set; }
    private HTMLHeaderElementEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderElementEnum.H2;

    [Parameter]
    public EventCallback OnActionComplete { get; set; }

}