@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplatePanelCollapsible HeaderLevel="HeaderLevelCurrent">
        <Header>
            <span>Elements</span>
        </Header>
        <Content>
            @if (List.Any())
            {
                <div class="element-list">
                    @foreach (ViewModelDataElement item in List)
                    {
                        <div class="element">
                            @foreach (ViewModelDataProperty property in item.PropertyList ?? [])
                            {
                                <TemplateInputGroup DisplayName="@property.TitleDynamic?.Value?.AsString()">
                                    <span>@property.Value?.ToString()?.DefaultIfEmpty(TextConstants.DefaultEmptyValue)</span>
                                </TemplateInputGroup>
                            }
                        </div>
                    }
                </div>
            }
            else
            {
                <i>Nothing here...</i>
            }
        </Content>
    </TemplatePanelCollapsible>
</div>

@code {

    [Parameter, EditorRequired]
    public required IEnumerable<ViewModelDataElement> List { get; set; }

    [Parameter]
    public HTMLHeaderElementEnum? HeaderLevel { get; set; }
    private HTMLHeaderElementEnum HeaderLevelCurrent => HeaderLevel ?? HTMLHeaderElementEnum.H2;

}