.TemplateJunctionList {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
}

.header {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    align-items: center;
    column-gap: var(--size-gap-xs);
    cursor: pointer;
}

.content {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    padding: var(--size-gap-md);
}