.TemplateInputAssociation {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
    max-width: 100%;
}

.item {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    column-gap: var(--size-gap-sm);
}