.TemplateSchemaForm {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-lg);
}

.header {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    justify-content: center;
    min-height: var(--size-control-sm);
    font-size: var(--size-text-h4);
    font-weight: 700;
}