.TemplatePanel {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    row-gap: var(--size-gap-md);
}

.TemplatePanel ::deep > .header {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row;
    align-items: center;
}

.content {
    display: grid;
    border-left: 2px solid black;
    background: color-mix(in srgb, transparent 96%, var(--color-mixin-complementary, #000000));
    row-gap: var(--size-gap-md);
}

.content:not(:empty) {
    padding: var(--size-gap-md);
}