.TemplateAction {
    display: flex;
    flex-flow: column;
    flex: 0 0 auto;
    row-gap: var(--size-gap-md);
}

.content {
    padding: var(--size-gap-md);
}

.action-list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row;
}
