.TemplateInputField {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}

.TemplateInputField:focus-within .input {
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) var(--color-focus-control, Highlight) inset;
}

.TemplateInputField[disabled] {
    color: var(--color-text-disabled, #bcbcbc);
    cursor: not-allowed;
}

.TemplateInputField[disabled] .input {
    border-color: transparent;
    background-color: var(--color-background-disabled, #4d4d4d);
}

.input {
    display: flex;
    flex: 1 0 auto;
    flex-flow: column;
    row-gap: calc(var(--size-gap-xs, 4px) * 1.5);
    padding: var(--size-gap-xs, 4px);
    border: var(--size-border-width-md, 2px) solid color-mix(in srgb, var(--color-background-control, #fff) 90%, var(--color-mixin-complementary, #000));
    border-radius: var(--size-border-radius-md);
    background-color: var(--color-background-control, #ffffff);
    box-shadow: 0 0 0 var(--size-border-width-sm, 1px) transparent inset;
    position: relative;
    z-index: 1;
    transition: border var(--animation-length-short, 150ms) ease-in-out, box-shadow var(--animation-length-short, 150ms) ease-in-out;
}

.label {
    font: var(--font-label);
}

.control {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
}

::deep input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    color: var(--color-text-control);
    font: var(--font-body);
    outline: none;
    background-color: transparent;
}

::deep > .error-list {
    padding: var(--size-gap-xs);
    margin-top: calc(-1 * var(--size-border-width-md));
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 0;
}
