.TemplateInputGroup {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-sm);
}

.wrapper {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    row-gap: var(--size-gap-xs);
}

.control {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
}