@inject AuthenticationAPIService APIService
@inject UserAuthenticationStateProvider AuthService
@inject TextService TextService
@inherits ElementComponent

<div @attributes="AdditionalAttributes" class="@CssClass">
    <WebForm Context="Context" OnSubmit="() => Context.Submit(FormSubmit)">
        <InputGroupText @bind-Value="Context.Model.Email"/>
        <InputGroupPassword @bind-Value="Context.Model.Password"/>
        <InputGroupPassword Autocomplete="WebFormInputFieldPasswordAutocompleteEnum.NewPassword" @bind-Value="Context.Model.ConfirmPassword"/>

        <Button Status="StatusEnum.Info" type="submit">@TextService.Get(TextConstants.ButtonSignUp)</Button>
    </WebForm>
</div>

@code {

    private WebFormContext<SignUpUserFormModel> Context { get; } = new(new());

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (!firstRender) return;

        await WithLoader(TextService.Resolve);
    }

    private async void FormSubmit()
    {
        try
        {
            if (!Context.Validate()) return;
            string result = await APIService.SignUpUser(Context.Model);
            await AuthService.UpdateIdentity(result);
        }
        catch (Exception e)
        {
            Context.HandleException(e);
        }
    }

}
