@inherits BaseComponentFormSchema<FormModelSchemaDynamicValueTextParameter, EntitySchemaDynamicValueTextParameter>

<div @attributes="AdditionalAttributes" class="@CssClass">
    <TemplateSchemaForm Context="Context" FormSubmit="FormSubmit">
        <Header>
            @HeaderText
        </Header>
        
        <Content>
            <InputGroupText @bind-Value="Context.Model.SchemaIdentifier"/>
            <InputGroupText @bind-Value="Context.Model.Name"/>
            <InputGroupText @bind-Value="Context.Model.Note"/>
            <InputGroupCheckbox Option="true" @bind-Value="Context.Model.IsApprovalRequired">
                <span>Yes</span>
            </InputGroupCheckbox>
        </Content>
        
        <Actions>
            <Button Loading="Context.IsSubmitting" Status="StatusEnum.Success" type="submit">
                @SubmitText
            </Button>
        </Actions>
    </TemplateSchemaForm>
</div>

@code {

    private string HeaderText => Context.Model.ID != Guid.Empty ? TextConstants.UpdateFormHeaderEntitySchemaDynamicValueTextParameter : TextConstants.CreateFormHeaderEntitySchemaDynamicValueTextParameter;

    protected override WebFormContext<FormModelSchemaDynamicValueTextParameter> CreateContext()
    {
        return new(new(Value){ SchemaID = Schema.ID });
    }

}
