.FormSchemaActionInput {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row wrap;
    row-gap: var(--size-gap-md);
    column-gap: var(--size-gap-md);
}

.FormSchemaActionInput ::deep > .TemplateSchemaForm {
    width: var(--size-layout-sidebar);
}

.input-attribute-list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    width: var(--size-layout-sidebar);
    row-gap: var(--size-gap-md);
}

.header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    min-height: var(--size-control-sm);
    font-size: var(--size-text-h4);
    font-weight: 700;
}

.action-list {
    display: flex;
    flex: 0 0 auto;
    flex-flow: row wrap;
    row-gap: var(--size-gap-md);
    column-gap: var(--size-gap-md);
}
