.FormSchemaActionStep {

}

.action-input-list {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    column-gap: var(--size-gap-md);
}

.current {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    width: var(--size-layout-sidebar);
    row-gap: var(--size-gap-md);
}

.available {
    display: flex;
    flex: 0 1 auto;
    flex-flow: column;
    width: var(--size-layout-sidebar);
    row-gap: var(--size-gap-md);
}

.header {
    display: flex;
    flex: 0 1 auto;
    flex-flow: row;
    align-items: center;
    column-gap: var(--size-gap-sm);
}